name: infra_monolithik

trigger: none
# - main

pool: Empire_Operations_Agent
  # vmImage: ubuntu-latest
  
variables:
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environment'
  SER_CONN: 'Empire_Operations_Agent_SC'

parameters:
  - name: environment
    displayName: details of env 
    type: string
    default: preprod
    values: 
      - preprod
      - prod

stages:
 - stage: terraforminit
   displayName: terraform initialize
   jobs:
     - job: tfvarsDownload
       steps:
       - task: DownloadSecureFile@1
         name: tfvarsFiles
         displayName: download tfvars
         inputs:
           secureFile: 'terraform.tfvars'

              
       - task: TerraformInstaller@1
         displayName: terrafom install
         inputs:
           terraformVersion: 'latest'

    #  - job: terraforminitjob
    #    steps:
    #    - template: template.yaml

       - task: TerraformTask@5
         displayName: terraform init
         inputs:
           provider: 'azurerm'
           command: 'init'
           workingDirectory: $(WORK_DIR)/{{ parameters.environment }}
           backendServiceArm: $(SER_CONN)
           backendAzureRmOverrideSubscriptionID: 'b4461466-1e6b-4be2-bb70-1e96a72a41c8'
           backendAzureRmResourceGroupName: 'Empire_Operation_rg'
           backendAzureRmStorageAccountName: 'empireoperationstg'
           backendAzureRmContainerName: 'empirecontainer'
           backendAzureRmKey: 'empoyaml.tfstate'

       - task: Bash@3
         inputs:
           targetType: 'inline'
           script: |
             # Write your commands here
                           echo 'tfvars copy and pest'
                           cp "$(tfvarsFiles.secureFilePath)" "$(System.DefaultWorkingDirectory)/environment/preprod"

       
     

       - task: TerraformTask@5
         displayName: terraform validation
         inputs:
           provider: 'azurerm'
           command: 'validate'
           workingDirectory: '$(WORK_DIR)'

       - task: TerraformTask@5
         displayName: terraform plan
         inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(WORK_DIR)'
            environmentServiceNameAzureRM: $(SER_CONN)

#  - stage: terraformscan
#    jobs:
#      - job: tfscan
#        steps:
#       #  - task: TerraformTask@5
#       #    inputs:
#       #      provider: 'azurerm'
#       #      command: 'custom'
#       #      workingDirectory: '$(WORK_DIR)'
#       #      commandOptions: 'tflint'
#       #      outputTo: 'console'
#       #      environmentServiceNameAzureRM: '$(SER_CONN)'

#          - template: 'template.yaml'
        


































# parameters: [ parameter ] # Pipeline template parameters.

# variables: variables | [ variable ] # Variables for this pipeline.
