name: infra_monolithik
trigger: none
# - main

pool: Empire_Operations_Agent
  # vmImage: ubuntu-latest

stages:
 - stage: terraforminit
   displayName: terraform initialize
   jobs:
     - job: terraforminitjob
       steps:
       - task: TerraformTask@5
         inputs:
           provider: 'azurerm'
           command: 'init'
           workingDirectory: '$(System.DefaultWorkingDirectory)/environment /preprod'
           backendServiceArm: 'Empire_Operations_Agent_SC'
           backendAzureRmOverrideSubscriptionID: 'b4461466-1e6b-4be2-bb70-1e96a72a41c8'
           backendAzureRmResourceGroupName: 'Empire_Operation_rg'
           backendAzureRmStorageAccountName: 'empireoperationstg'
           backendAzureRmContainerName: 'empirecontainer'
           backendAzureRmKey: 'empoyaml.tfstate'







# parameters: [ parameter ] # Pipeline template parameters.

# variables: variables | [ variable ] # Variables for this pipeline.
