name: infra_monolithic_terraform

trigger: none
# - main

pool: Empire_Operations_Agent
  # vmImage: ubuntu-latest

variables:
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environment'
  SER_CONN: 'Empire_Operations_Agent_SC'

parameters:
- name: myenv
  displayName: parameters
  type: string
  default: preprod
  values: 
    - preprod
    - prod
    

stages:
  - stage: terraformInstall
    jobs:
      - job: installTerraform
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - task: TerraformTask@5
          displayName: terraform init
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: $(WORK_DIR)/${{ parameters.myenv }}
            backendServiceArm: $(SER_CONN)
            backendAzureRmOverrideSubscriptionID: 'b4461466-1e6b-4be2-bb70-1e96a72a41c8'
            backendAzureRmResourceGroupName: 'Empire_Operation_rg'
            backendAzureRmStorageAccountName: 'empireoperationstg'
            backendAzureRmContainerName: 'empirecontainer'
            backendAzureRmKey: 'empoyaml.tfstate'
        