name: infra_monolithik

trigger: none
# - main

pool: Empire_Operations_Agent
  # vmImage: ubuntu-latest
  
variables:
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environment/preprod'
  SER_CONN: 'Empire_Operations_Agent_SC'


stages:
 - stage: terraforminit
   displayName: terraform initialize
   jobs:
     - job: terraforminitjob
       steps:
       - task: TerraformTask@5
         displayName: terraform init
         inputs:
           provider: 'azurerm'
           command: 'init'
           workingDirectory: $(WORK_DIR)
           backendServiceArm: $(SER_CONN)
           backendAzureRmOverrideSubscriptionID: 'b4461466-1e6b-4be2-bb70-1e96a72a41c8'
           backendAzureRmResourceGroupName: 'Empire_Operation_rg'
           backendAzureRmStorageAccountName: 'empireoperationstg'
           backendAzureRmContainerName: 'empirecontainer'
           backendAzureRmKey: 'empoyaml.tfstate'

       - task: TerraformTask@5
         displayName: terraform plan
         inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(WORK_DIR)'
            environmentServiceNameAzureRM: $(SER_CONN)





# parameters: [ parameter ] # Pipeline template parameters.

# variables: variables | [ variable ] # Variables for this pipeline.
