name: infra_monolithic_terraform

trigger: none
# - main

pool: Empire_Operations_Agent
  # vmImage: ubuntu-latest

variables:
  WORK_DIR: '$(System.DefaultWorkingDirectory)/environment'
  SER_CONN: 'Empire_Operations_Agent_SC'

parameters:
- name: myenv
  displayName: parameters
  type: string
  default: prod
  values: 
    - preprod
    - prod
    


stages:
  - stage: terraformInstall
    jobs:
      - job: installTerraform
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        
        - template: templateterraform.yaml
        